{% extends 'Admin_index.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <style>
      table tr {
    cursor: pointer;
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
    </script>
  </head>
  <body>
    <!-- <div class="content-wrapper">   -->
      <!-- <h4 class="card-title">HR</h4>   -->
      <div class="row">   
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Requested Leave</h4>  
              <div class="form-group">
                <input type="text" class="form-control"id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="color:white;">
                 </div>
              <div class="table-responsive">
                <table class="table">
                
                  <thead>
                    <tr>
                        <th> S.No </th>
                        <th> From </th>
                        <th> To</th>
                        <th>Leave type</th>
                        <th>Reason</th>
                        <th> Status </th>
                    </tr>
                  </thead>
                  <tbody id="myTable">
                    <tr>
                      <td>1</td>
                      <td>15/02/2022 </td>
                      <td> 21/02/2022</td>
                      <td> Half Day </td>
                      <td>On Sick</td>
                      <td><a href="#">
                        <div class="btn btn-outline-warning" data-toggle="modal"
                            data-target="#myModal">
                            <i class=" text-warning mdi mdi-send btn-icon-prepend"></i>Pending
                        </div>

                    </a></td>
                    </tr>
                   
                   <tr>
                    <td>2</td>
                    <td>25/02/2022 </td>
                    <td> 28/02/2022</td>
                    <td>Full Day </td>
                    <td>On Sick</td>
                    <td><a href="#">
                      <div class="btn btn-outline-warning" data-toggle="modal"
                          data-target="#myModal">
                          <i class=" text-warning mdi mdi-send btn-icon-prepend"></i>Pending
                      </div>

                  </a> </td>
                   </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- {% for i in var %} -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 grid-margin stretch-card bg-dark text-light modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Reply</h4>
                <button type="button" style="color: white; border: none;background-color: transparent;" class="close"
                    data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'projectreply' i.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row p-3">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                                    <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 form-control  text-light"
                                        style="height: 200px; background-color: #2A3038; " name="reply"
                                        rows="4"> </textarea>
                                </div>
                            </div>
                            <br>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center pb-3">
                                <button type="submit" onclick="redirect()"
                                    class="btn btn-outline-primary btn-icon-text ">
                                    <i class="text-primary mdi mdi-send btn-icon-prepend"></i>
                                    Send
                                </button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<!-- {% endfor%} -->



  </body>
</html>


{% endblock%}